@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#2c2640, #201c2b);
  font-family: "Fredoka One";
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.calculator {
  width: auto;
  height: auto;
  position: relative;
  box-shadow: 0 0 15px black;
  padding: 20px;
  border-radius: 15px;
  background-color: #0e0c13;
}

#display {
  margin: 0 10px;
  height: 80px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 40px;
  margin-bottom: 20px;
  overflow-x: scroll;
  color: white;
  background-color: #17141f;
  border-radius: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#display::-webkit-scrollbar {
  height: 3px;
  display: block;
}

button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: all 200ms ease;
  border: 0;
  padding: 30 30;
  margin: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Fredoka One";
}

button:hover {
  transform: scale(1.1);
}
button#equal {
  height: 120px;
  border-radius: 30px;
  background-color: #3b325b;
  color: white;
}

button#backspace {
  background-color: #c74754;
}

button.zero {
  width: 120px;
  border-radius: 30px;
}

.btn-number {
  background-color: #17141f;
  color: #5c4f8f;
}

.btn-operator {
  background-color: #2c2640;
  color: white;
}

footer {
  position: absolute;
  top: 90%;
}
footer p {
  color: #5c4f8f;
  font-size: 15px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #816dc7;
}
